.account {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-color: salmon;
}
.register {
  height: 30vh;
}
.login {
  height: 30vh;
}
