#section {
  position: relative;
  justify-content: center;
  height: 100%;
  width: auto;
  background-color: black;
  border-radius: 5px;
  overflow: hidden;
}

.hour,
.min,
.sec {
  color: white;
  background: black;
  font-size: 3vw;
  font-family: sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.col {
  display: inline-block;
  color: white;
  background: black;
  font-size: 2.5vw;
  user-select: none;
}

.hour::before {
  content: attr(hour-value);
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.min::before {
  content: attr(min-value);
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.sec::before {
  content: attr(sec-value);
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.col::before {
  content: ":";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.neon-wrapper {
  display: inline-flex;
  filter: brightness(100%);
  overflow: hidden;
}

.gradient {
  background: linear-gradient(
    110.8210951619775deg,
    #0088a9,
    rgba(129, 204, 207, 0.849) 5.533854166666667%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
}

.dodge {
  background: radial-gradient(circle, white, black 35%) center / 15% 15%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 3s linear infinite;
}

@keyframes dodge-area {
  to {
    transform: translate(60%, 60%);
  }
}

@media (max-height: 850px) and (orientation: portrait) {
  #section {
    height: 100%;
    width: 17vw;
    border: 1px solid white;
    border-radius: 5px;
  }
  .hour,
  .min,
  .sec {
    font-size: 4vw;
  }

  .col {
    font-size: 3.3vw;
  }
}

@media (max-height: 450px) and (orientation: landscape) {
  .box {
    background-color: blue;
  }
}
